@import "primevue/resources/themes/lara-light-indigo/theme.css";
@import "primeicons/primeicons.css";

a.link {
  color: var(--primary-color);
  text-decoration: none;
}

small {
  color: var(--text-color-secondary);
}
